# https://github.com/Byzanteam/jet-scaffolds/pull/61
# https://juejin.cn/post/7189812753366777915
# 在 pnpm 中只能访问项目的顶层依赖，而 @vue/runtime-core 是 vue 模块下的依赖，不是顶层依赖而无法访问，
# 导致 components.d.ts 声明失效，此时会导致所有自动导入的组件在引入的页面中类型都为 any(丢失类型)，
# 从而导致没有属性、事件、方法等类型提示，并且在编辑器中也无法跳转至对应组件。

# public-hoist-pattern 将匹配模式的依赖项提升到根模块目录
public-hoist-pattern[]=@vue/runtime-core
